main {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 90vh;
    justify-content: center;
}

#main-content {
    display: flex;
    justify-content: center;
}

#field {
    border-style: solid;
    border-width: 1.5px;
    width: 640px;
    height: 640px;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 100px;
}

button {
    width: 64px;
    height: 46px;
    margin-left: auto;
    margin-right: auto;
}

#field div {
    border-top: 1px groove;
    border-left: 1px groove;
    float: left;
}